{{ partial "header.html" . }}
    {{ partial "sidebar.html" . }}
    <div id="content">
        <div class="article" id="{{ .Slug }}" class="{{ .Type }}">
            <div class="post-stamp">
                <h1 class="post-title">{{ .Title }}</h1>
                <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}{{ if not .Site.Params.hideReadingTime }} &middot; {{ .ReadingTime }} minute read{{ end }}</span>
                {{ if isset .Params "categories" }}
                    <span class="taglist">
                        {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a> {{ end }}
                    </span>
                {{ end }}

                <span class="taglist">
                {{if .Params.tags }}
                    &middot;
                    {{ range $index, $tag := .Params.tags }}
                        <a href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a>
                    {{ end }}
                {{ end }}
                </span>
            </div>
            {{ .Content }}
            {{ if .Site.Params.share }}
                {{ partial "share.html" . }}
            {{ end }}
            {{ partial "comments.html" . }}
        </div>
    </div>
{{ partial "footer.html" . }}
