{{ $baseurl := .Site.BaseURL }}
<section id="{{ .Slug }}" class="{{ .Section }}">
	<h3 class="post-title">
		<a href="{{ .Permalink }}">{{ .Title }}</a>
		<span class="separator"> &middot; </span>
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
		<span class="taglist">
		{{if .Params.tags }}
		&middot; 
    	{{ range $index, $tag := .Params.tags }}
            <a href="{{ $baseurl }}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
        {{ end }}
    	{{ end }}
		</span>
	</h3>
</section>