{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
    {{ partial "sidebar.html" . }}
    <div id="content">
        <div class="article" id="{{ .Slug }}" class="{{ .Type }}">
            <div class="post-stamp">
                <h1 class="post-title">{{ .Title }}</h1>
            </div>
            {{ .Content }}
            {{ if .Site.Params.share }}
                {{ partial "share.html" . }}
            {{ end }}
            {{ partial "comments.html" . }}
        </div>
    </div>
{{ partial "footer.html" . }}
