<div class="header">
    <div class="title">
        <h1><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1>
        {{ with .Site.Params.tagline }}<p class="lead">{{ . | markdownify }}</p>{{ end }}
        {{ with .Description}}<p>{{.}}</p>{{end}}
    </div>
    <div class="logo">
        {{ if isset .Site.Params "gravatarHash" }}
            <a id="logo" href="{{ .Site.BaseURL }}"><img src="https://www.gravatar.com/avatar/{{ .Site.Params.gravatarHash }}?s=200" alt="gravatar" title="{{ .Site.Author.name }}"></a>
        {{ end }}
        {{ if isset .Site.Params "logo" }}
            {{ if .Site.Params.roundlogo }}
                <a id="logo" class="roundlogo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" /></a>
            {{ else }}
                <a id="logo" href="{{ .Site.BaseURL }}"><img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" /></a>
            {{ end }}
        {{ end }}
    </div>

    <ul class="sidebar-menu">
        {{ range .Site.Menus.main }}
            <li class="sidebar-menu-item">{{ .Pre }}<a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
        {{end}}
    </ul>

    <div id="follow-icons">
        {{ with .Site.Params.facebook }}<a href="{{.}}" target="_blank" rel="me"><i class="fa fa-facebook-square fa-3x"></i></a>{{end}}
        {{ with .Site.Params.twitter }}<a href="{{.}}" target="_blank" rel="me"><i class="fa fa-twitter-square fa-3x"></i></a>{{ end }}
        {{ with .Site.Params.linkedin }}<a href="{{.}}" target="_blank" rel="me"><i class="fa fa-linkedin-square fa-3x"></i></a>{{ end }}
        {{ with .Site.Params.github }}<a href="{{.}}" target="_blank" rel="me"><i class="fa fa-github-square fa-3x"></i></a>{{end}}
        {{ with .Site.Params.googleplus }}<a href="{{.}}" target="_blank" rel="author"><i class="fa fa-google-plus-square fa-3x"></i></a>{{ end }}
        {{ with .Site.Params.bitbucket }}<a href="{{ . }}" target="_blank"><i class="fa fa-bitbucket-square fa-3x"></i></a>{{ end }}
        {{ with .Site.Params.stackOverflow }}<a href="{{ . }}" target="_blank"><i class="fa fa-stack-overflow fa-3x"></i></a>{{ end }}
        {{ with .Site.Params.keybase }}<a href="{{ . }}" target="_blank"><i class="fa fa-key fa-3x"></i></a>{{ end }}
        {{ if .Site.Params.rss }}<a href="{{ "/index.xml" | absURL }}" type="application/rss+xml"><i class="fa fa-rss-square fa-3x"></i></a>{{ end }}
    </div>

    {{ if isset .Site.Params "creativecommon" }}
        <div class="cc">
            {{ if eq .Site.Params.creativecommon "cc-by-nc-nd" }}
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
            {{ end }}
            {{ if eq .Site.Params.creativecommon "cc-by-nc" }}
                <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
            {{ end }}
            {{ if eq .Site.Params.creativecommon "cc-by-nc-sa" }}
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
            {{ end }}
            {{ if eq .Site.Params.creativecommon "cc-by" }}
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
            {{ end }}
            {{ if eq .Site.Params.creativecommon "cc-by-sa" }}
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            {{ end }}
        </div>
    {{ end }}
</div>
